.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-column {
  padding: 4px;
  width: 250px;
  min-height: 500px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
